body {
  background-color: #f5f5f5;
  padding: 40px 0;
}

header img {
  height: 40px;
}

#content {
  width: 777px;
  max-width: 100%;
  margin: 0 auto;
  padding: 50px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
