<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <main id="content" class="content main-content" role="main">
      <header>
        <a href="https://devpost.com">
          <img src="https://devpost-challengepost.netdna-ssl.com/assets/reimagine2/devpost-logo.svg" alt="">
        </a>
      </header>

      <h1 class="is-size-2">
        Devpost Rails exercise
      </h1>

      <p>
        Let's build a simple To-Do application in Ruby on Rails.
      </p>

      <p>
        Some of topics we'll be looking at are:
      </p>

      <ul>
        <li>MVC (routes, migrations, views, etc)</li>
        <li>Simple context-based validations</li>
        <li>Relationships</li>
        <li>Performance</li>
      </ul>

      <h2>
        The To-Do application
      </h2>

      <h3>Business rules</h3>

      <ul>
        <li>Users can have multiple To-Dos</li>
        <li>To-Dos can have multiple tasks</li>
        <li>Users can be free users or paid users</li>
        <li>Free users can add a maximum of 3 tasks to any given To-Do</li>
        <li>Paid users can add as many tasks as they want to any given To-Do</li>
      </ul>

      <h3>Suggested models</h3>

      <table>
          <tr>
              <th>Todo</th>
              <th>Task</th>
              <th>User</th>
          </tr>

          <tr>
              <td>
                <p>
                  <code>title</code> (maximum of 255 characters)
                </p>
              </td>

              <td>
                <p>
                  <code>description</code> (maximum of 1000 characters)
                </p>
                <p>
                  <code>done</code> (boolean representing the completion state)
                </p>
              </td>

              <td>
                <p>
                  <code>Full name</code>
                </p>
                <p>
                  <code>Free or paid</code>
                </p>
              </td>
          </tr>
      </table>

      <p>Feel free to rename these models or attributes as you see fit.</p>

      <h3>Application pages</h3>

      <h4>User page</h4>

      <p>
        It should display:

        <ul>
          <li>the <strong>user name</strong></li>
          <li>
            <p>
              a <strong>list of their To-Dos</strong> (don't bother with pagination)
            </p>

            <p>
              For each To-Do, display:

              <ul>
                <li>their <strong>title</strong></li>
                <li>their <strong>state</strong>. The state of a To-Do is derived from the state of its tasks. A To-Do is "done" only if all its tasks are done.</li>
                <li>all their <strong>tasks</strong></li>
              </ul>
            </p>

            <p>For each task, display:</p>

            <ul>
              <li>their <strong>description</strong></li>
              <li>their <strong>state</strong> (done/not done, ✔/✘, ... up to you)</li>
            </ul>
          </li>
        </ul>

        <br>

        Keep performances in mind here ;)
      </p>

      <h4>To-Do creation form</h4>

      <p>
        A simple form allowing a signed in user to create a To-Do, and add tasks to it.
      </p>
      <p>
        Do not bother with Javascript at this stage, you can make it so there are a fixed number
        of text fields to add tasks.
      </p>

      <h4>To-Do update form</h4>

      <p>
        Same as above, but to edit an existing To-Do. This page should only be accessible to the To-Do owner.
      </p>

      <p>ps: We're not asking you to make tasks deletable.</p>

      <hr>

      <p>All the forms should display error messages for invalid inputs.</p>
    </main>
  </body>
</html>
